<% if logged_in? %>

<div class='row'>
  <aside class='col-xs-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>
          <%= current_user.user_name %>
        </h3>
      </div>
      <div class='panel-body'>
        <img class='media-object img-rounded img-responsive' src='
        <%= current_user.image_url %>
        ' alt=''>
      </div>
    </div>
  </aside>
</div>

    <div>
      <%= current_user.content %>
    </div>
    <div>
      <%= link_to 'Edit', edit_user_url(current_user) %>
    </div>
  
    <div>
      <%= current_user.followers_count %>
    </div>
    
    <% @infos.each do |info| %>
    <li class='media'>
      <%= info.id %>
      <%= info.title %>
    </li>
    <% end %>
  
  
<% end %>