<% if logged_in? %>

<h1 class='title-gradation-updown'>The details of
<%= current_user.user_name %>
</h1>

<div class='row'>
  <aside class='col-xs-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>
          <%= current_user.user_name %>
        </h3>
      </div>
      <div class='panel-body'>
        <img class='media-object img-rounded img-responsive' src='
        <%= current_user.image_url %>
        ' alt=''>
      </div>
    </div>
    
     <div class='box26'>
       <span class="box-title">Introduction</span>
        <p>
<%= current_user.content %>
        </p>
        
        <div class="btn-border-bottom">
<%= link_to 'Edit', edit_user_url(current_user) %>
        </div>
      </div>
    
  
    <div class="box26">
      <span class="box-title">Followers</span>
      <p>
<%= current_user.followers_count %>
      </p>
    </div>
    
  
  <h2>Your Info</h2>  
    <% @infos.each do |info| %>
    
    <div class='media'>
        <p class='infos-box'>Info Title
<%= link_to info.id, info %>:<br>
<%= info.title %>
        </p>
    </div>
    
    <% end %>
  
    
  </aside>
</div>

<% end %>