<% if logged_in? %>

<h1 class='title-gradation-updown'>The details of
<%= current_user.user_name %>
</h1>

<div class='row'>
  <aside class='col-xs-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>
          <%= current_user.user_name %>
        </h3>
      </div>
      <div class='panel-body'>
        <img class='media-object img-rounded img-responsive' src='
        <%= current_user.image_url %>
        ' alt=''>
      </div>
    </div>
  </aside>
</div>

    <div class='box26'>
      <span class='box-title'>Profile Content</span>
      <p>
      <%= current_user.content %>
      </p>
    </div>
    
    <div>
      <%= link_to 'Edit', edit_user_url(current_user) %>
    </div>
  
    <div>
      <%= current_user.followers_count %>
    </div>
    
    <% @infos.each do |info| %>
    <p class='media'>
    <%= link_to info.id, info %>
      <%= info.title %>
    </p>
    <% end %>
  
  
<% end %>