<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <title>Shin-Inform</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel='stylesheet'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '/stylesheets/toppage_index', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

<% if current_page?(root_path) %>
  <body class='container-background-image'>
<% end %>    
    <%= render 'layouts/navbar' %>
    
    
    <div class='container'>
      
    <%= render 'layouts/flash_messages'%>
    
    <%= yield %>
    
    </div>
    
  </body>
</html>
